body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    /* margin: 20px auto; */
    margin: 0 auto;
    background-color: #d0cfcf;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: rgb(4, 116, 116);
}

.filter {
    margin-bottom: 20px;

    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

label, select {
    margin-right: 10px;
}

.filter #statusFilter{
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.filter #listFilter{
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgb(249, 253, 253);
}

th, td {
    border: 1px solid #050505;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #fefbfb;
}

select {
    padding: 8px;
}

#addItemButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

#salesTable {
    width: 100%;
    border-collapse: collapse;
}

#salesTable th, #salesTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#salesTable th {
    background-color: #f2f2f2;
}

/* Responsive Styles */
/* @media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    table {
        margin-top: 10px;
    }

    th, td {
        padding: 8px;
    }

    select {
        width: 100%;
    }
} */
